---
import Project from '../components/Project.astro';
import { projects } from '../data/projects';
---

<section class='projects' id='projects'>
  <h2 class='projects__header'>Personal projects</h2>
  <div class='projects__wrapper'>
    {
      projects.map((project) => (
        <Project
          title={project.title}
          subTitle={project.subTitle}
          icon={project.icon}
          href={project.link}
          color={project.color}
        />
      ))
    }
  </div>
</section>

<style lang='scss'>
  @use '../styles/mixins' as *;

  .projects {
    margin-top: 120px;
    display: flex;
    flex-direction: column;

    &__header {
      font-size: 20px;
      font-family: 'Syne Variable';
      font-weight: 700;
      color: #e4acff;
      margin-bottom: 20px;
    }

    @include mobileL {
      margin-top: 80px;
    }

    &__wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include tabletS {
        flex-direction: column;
        gap: 15px;
        align-items: center;
      }
    }

    @include tabletS {
      align-items: center;
    }
  }
</style>
